@import "tailwindcss";

@theme {
  /* Color */
  --color-white: #FFFFFF;
  --color-black: #282828;
  --color-orange: #F8A450;
  --color-thin-orange: #FFF7DE;
  --color-gray: #BFBFBF;

  /* Font */
  --font-noto: var(--font-noto);
  --font-syne: var(--font-syne);
}
